## Retrieve Daily MLB Data Using MLB-StatsAPI in Python

MLB-StatsAPI wiki: https://github.com/toddrob99/MLB-StatsAPI/wiki

### Import neccesary modules

In [95]:
import pandas as pd
import numpy as np
import datetime

# import MLB-StatsAPI module
import statsapi

### Leagues ID
##### American League = 103
##### National League = 104

### Divisions ID
##### AL West = 200
##### AL East = 201
##### AL Central = 202
##### NL West = 203
##### NL East = 204
##### NL Central = 205

### Functions that returns current division standings from MLB-StatsAPI

In [96]:
def get_division_standings(league, division): 
    standings = pd.DataFrame(statsapi.standings_data(league)[division]['teams'])
    standings = standings[['div_rank', 'name', 'w', 'l', 'gb', 'elim_num', 'wc_rank', 'wc_gb', 'wc_elim_num' ]]
    return standings

get_division_standings(103,202)

,div_rank,name,w,l,gb,elim_num,wc_rank,wc_gb,wc_elim_num
0,1,Minnesota Twins,43,36,-,-,-,-,-
1,2,Cleveland Guardians,39,34,1.0,86,3,-,-
2,3,Chicago White Sox,35,39,5.5,81,8,4.5,84
3,4,Detroit Tigers,29,45,11.5,75,10,10.5,78
4,5,Kansas City Royals,27,47,13.5,73,11,12.5,76

In [97]:
def get_all_division_standings():
    print('\033[1m' + "Major League Standings for {}".format(datetime.datetime.now().strftime('%m-%d-%Y')) + '\033[0m')
    print()
    print('\033[1m' + 'American League' + '\033[0m')
    print(statsapi.standings(103))
    print('\033[1m' + 'National League' + '\033[0m')
    print(statsapi.standings(104))
    
get_all_division_standings()

Major League Standings for 07-01-2022

American League
American League East
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   New York Yankees      56  21   -    -      -      -    -
 2   Boston Red Sox        43  33  12.5  74     1    +2.5   -
 3   Toronto Blue Jays     43  33  12.5  74     2    +2.5   -
 4   Tampa Bay Rays        40  35  15.0  72     4      -    -
 5   Baltimore Orioles     35  42  21.0  65     9     6.0   81

American League Central
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Minnesota Twins       43  36   -    -      -      -    -
 2   Cleveland Guardians   39  34  1.0   86     3      -    -
 3   Chicago White Sox     35  39  5.5   81     8     4.5   84
 4   Detroit Tigers        29  45  11.5  75    10    10.5   78
 5   Kansas City Royals    27  47  13.5  73    11    12.5   76

American League West
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Houston Astros        48  27   -    -      -      -    -
 2   Texas Rangers         36  38  11.5  77     5     3.5   85
 3   Los Angeles Angels    37  41  12.5  74     6     4.5   82
 4   Seattle Mariners      37  41  12.5  74     7     4.5   82
 5   Oakland Athletics     25  53  24.5  62    12    16.5   70


National League
National League East
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   New York Mets         47  29   -    -      -      -    -
 2   Atlanta Braves        44  33  3.5   83     2    +1.5   -
 3   Philadelphia Phillies 40  37  7.5   79     5     2.5   83
 4   Miami Marlins         34  40  12.0  76     6     7.0   80
 5   Washington Nationals  29  49  19.0  67    11    14.0   71

National League Central
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Milwaukee Brewers     44  34   -    -      -      -    -
 2   St. Louis Cardinals   43  35  1.0   84     3      -    -
 3   Pittsburgh Pirates    31  45  12.0  74     9    11.0   75
 4   Chicago Cubs          30  46  13.0  73    10    12.0   74
 5   Cincinnati Reds       26  49  16.5  70    12    15.5   71

National League West
Rank Team                   W   L   GB  (E#) WC Rank WC GB (E#)
 1   Los Angeles Dodgers   47  28   -    -      -      -    -
 2   San Diego Padres      46  32  2.5   84     1    +3.0   -
 3   San Francisco Giants  40  34  6.5   82     4     1.0   86
 4   Arizona Diamondbacks  34  42  13.5  74     7     8.0   78
 5   Colorado Rockies      33  43  14.5  73     8     9.0   77

### Functions that returns current HR leaders for whole MLB and also for only rookies

In [98]:
def current_hr_leaders():
    hr_leaders = statsapi.league_leaders('homeRuns',season = 2022, limit = 5)
    hr_leaders = hr_leaders.split('\n')
    return hr_leaders

current_hr_leaders()

['Rank Name                 Team                    Value',
 ' 1   Aaron Judge          New York Yankees         29  ',
 ' 2   Yordan Alvarez       Houston Astros           23  ',
 ' 2   Kyle Schwarber       Philadelphia Phillies    23  ',
 ' 2   Mike Trout           Los Angeles Angels       23  ',
 ' 5   Pete Alonso          New York Mets            22  ',
 '']

In [99]:
def current_rookie_hr_leaders():
    rookie_hr_leaders = statsapi.league_leaders('homeRuns',season = 2022, playerPool = 'rookies',limit = 5)
    rookie_hr_leaders = rookie_hr_leaders.split('\n')
    return rookie_hr_leaders

current_rookie_hr_leaders()

['Rank Name                 Team                    Value',
 ' 1   Julio Rodriguez      Seattle Mariners         13  ',
 ' 1   Jack Suwinski        Pittsburgh Pirates       13  ',
 ' 3   Bobby Witt Jr.       Kansas City Royals       11  ',
 ' 4   Jeremy Pena          Houston Astros            9  ',
 ' 4   Juan Yepez           St. Louis Cardinals       9  ',
 '']

### Functions that return current ERA leaders

In [100]:
def current_era_leaders():
    era_leaders = statsapi.league_leaders('ERA',season = 2022, limit = 5)
    era_leaders = era_leaders.split('\n')
    return era_leaders

current_era_leaders()

['Rank Name                 Team                    Value',
 ' 1   Shane McClanahan     Tampa Bay Rays          1.77 ',
 ' 2   Sandy Alcantara      Miami Marlins           1.95 ',
 ' 3   Justin Verlander     Houston Astros          2.03 ',
 ' 4   Alek Manoah          Toronto Blue Jays       2.09 ',
 ' 5   Martin Perez         Texas Rangers           2.22 ',
 '']